<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<extend name="Common:edit"/>
<block name="css">
    <link href="__CSS__/common.css" rel="stylesheet" type="text/css" />
</block>
<block name="body">
<div class="main-div">
    <form method="post" action="{:U()}"><!--enctype="multipart/form-data" -->
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">{$meta_title}名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">{$meta_title}网址</td>
                <td>
                    <input type="text" name="url" maxlength="60" size="40" value="{$url}" />
                </td>
            </tr>
            <tr>
                <td class="label">{$meta_title}LOGO</td>
                <td>
                    <input type="file" name="logo_upload" id="logo_upload" class="uploadify-button" size="45"/><br/>
                    <input type="hidden" name="logo" class="logo" value="" maxlength='60'/>
                    <div class="upload-img-box" style="display: none">
                        <div class="upload-pre-item">
                            <img src="">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">{$meta_title}描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="4" value="" >{$intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="40" size="15" value="{$sort | default = 20}" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" class="status" value="1" /> 是
                    <input type="radio" name="status"  class="status" value="0"  /> 否
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="hidden" name="id" value="{$id}"/>
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
</block>
<block name="foot">
    <script type="text/javascript" src="__JS__/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="__LAYER__"></script>
    <script type="text/javascript" src="__JS__/jquery.form.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.js"></script>
    <script type='text/javascript'>
        $(function() {
            //设置状态值或默认值
            $('.status').val([{$status | default = 1}]);
            //引用uploadify做上传的功能
            $("#logo_upload").uploadify({
                'height': 28,
                'width':120,
                'debug' : true,  //是否调试
                'fileSizeLimit' : '1024KB',//最大上传大小
                'fileTypeExts' : '*.gif; *.jpg; *.png',//可以传的类型
                //fileObjName : 'the_files',//上传该文件时,以什么名字上传..   $_FIELS['Filedata']  . 默认为:Filedata
                'buttonText' : '上传图片',
                'formData':{'dir':'brand-logo'},//上传图片时额外传入的参数，表示要传入到哪个文件夹下
                'swf'           : '__UPLOADIFY__/uploadify.swf',
                'uploader'      : "{:U('Admin/Upload/index')}",
                'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                    alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                },
                'onUploadSuccess' : function(file, data, response) {
                    //显示出div
                    $('.upload-img-box').show();
                    //将生成的图片放在盒子中
                    $('.upload-pre-item img').attr('src','/Uploads/'+data);
                    //将图片的路径放在隐藏域里保存到数据库里
                    $('.logo').val(data);

                },

            });
        });
    </script>
</block>
