<extend name="Common:index"/>
<block name="css">
    <link href="__TREEGRID__/css/jquery.treegrid.css" rel="stylesheet" type="text/css" />
</block>
<block name="body">
    <h1>
        <span class="action-span"><a href="{\:U('add')}">添加{$meta_title}</a></span>
        <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
        <span id="search_id" class="action-span1"> -{$meta_title} </span>
        <div style="clear:both"></div>
    </h1>
    <div class="form-div">
        <form action="{\:U()}" name="searchForm">
            <img src="__IMG__/icon_search.gif" width="26" height="22" border="0" alt="search" />
            <input type="text" name="keyword" size="15" value="{$Think.get.keyword}"/>
            <input type="submit" value=" 搜索 " class="button" />
        </form>
    </div>
        <div class="list-div" id="listDiv">
            <table cellpadding="3" cellspacing="1" class="tree">
                <tr>
                    <!--使用注解生成表头-->
                    <th>名称</th>
                    <th>简介</th>
                    <th>状态</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
                <volist name="rows" id="row">
                    <tr class="treegrid-{$row.id} <neq name='row.level' value='1'>treegrid-parent-{$row.parent_id}</neq>">
                        <td class='first-cell'><span>{$row.name}</span></td>
                        <td align='center'><span>{$row.intro}</span></td>
                        <td align='center'><a class='ajax-get' href="{\:U('changestatus',array('id'=>$row['id'],'status'=>1-$row['status']))}"><img src="__IMG__/{$row['status'] == 1?'yes':'no'}.gif" /></a></td>
                        <td align='center'>{$row.sort}</td>
                        <td>
                            <a href="{\:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                            <a class="ajax-get" href="{\:U('changestatus',array('id'=>$row['id']))}" title="移除">移除</a>
                        </td>
                    </tr>
                </volist>
            </table>
        </div>
</block>
<block name="js">
    <script type="text/javascript" src="__JS__/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="__LAYER__"></script>
    <script type="text/javascript" src="__JS__/jquery.form.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script type="text/javascript" src="__TREEGRID__/js/jquery.treegrid.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.tree').treegrid();
        });
    </script>
</block>