<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<extend name="Common:edit"/>
<block name="body">
    <form method="post" action="{:U()}">
    <div class="main-div">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">{$meta_title}名称</td>
                    <td>
                        <input type="text" name="name" maxlength="60" value="{$name}" />
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <!--            <tr>
                                <td class="label">{$meta_title}LOGO</td>
                                <td>
                                    <input type="file" name="brand_logo" id="logo" size="45" disabled="false"><br/>
                                    <span class="notice-span" style="display:block"  id="warn_brandlogo">请上传图片，做为{$meta_title}的LOGO！</span>
                                </td>
                            </tr>-->
                <tr>
                    <td class="label">{$meta_title}描述</td>
                    <td>
                        <textarea  name="intro" cols="60" rows="4" value="" >{$intro}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">排序</td>
                    <td>
                        <input type="text" name="sort" maxlength="40" size="15" value="{$sort | default = 20}" />
                    </td>
                </tr>
                <tr>
                    <td class="label">是否显示</td>
                    <td>
                        <input type="radio" name="status" class="status" value="1" /> 是
                        <input type="radio" name="status"  class="status" value="0"  /> 否
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><br />
                        <input type="hidden" name="id" value="{$id}"/>
                        <input type="submit" class="ajax-post" value=" 确定 " />
                        <input type="reset" class="button" value=" 重置 " />
                    </td>
                </tr>
            </table>
    </form>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__JS__/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="__LAYER__"></script>
    <script type="text/javascript" src="__JS__/jquery.form.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script type='text/javascript'>
        $(function(){
            $('.status').val([{$status | default = 1}]);
        });
    </script>
</block>